<div class="mt-3">
  <p>Transform your life with the power of motivation.Stay inspired when reaching for new goals and dreams.</p>
  <button class="toggle mb-2 btn-lg" (click)="this.formshow = !this.formshow">+ New Quote</button>
  <form (ngSubmit)="submitQuote()" #goalForm='ngForm' *ngIf="formshow">
    <p class="text-center text-danger pt-1">Please Fill In All Fields To Post a Quote</p>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel'
        placeholder="Your name..." required>
      <div *ngIf="name.touched && name.invalid && name.pristine" class="alert-danger">
        <p *ngIf="name.errors?.required">Name is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'
        placeholder="Author's name..." required>
      <div *ngIf="author.touched && author.invalid && author.pristine" class="alert-danger">
        <p *ngIf="author.errors?.required">Author is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="quoteDetail">Quote</label>
      <textarea class="form-control" id="quoteDetail" rows="4" [(ngModel)]="newQuote.quoteDescribe" name="quoteDetail"
        #quoteDetail="ngModel" placeholder="Enter Quote here..." required></textarea>
      <div *ngIf="quoteDetail.touched && quoteDetail.invalid && quoteDetail.pristine" class="alert-danger">
        <p>Quote is required</p>
      </div>
    </div><br>
    <button type="submit" class="btn center" [disabled]="goalForm.invalid">Add Quote</button>
  </form>
  <hr>

</div>
