<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-form (addQuote)="addNewQuote($event)"></app-form>
    </div>
    <div class="col md-2"></div>
    <div class="cardHolder col-md-5">
      <div class="card text-center mt-4" *ngFor="let quote of quotes let i = index">
        <div class="card-body">
          <app-quote-detail [quote]="quote" (isDelete)= "quoteDelete($event,i)" (isUpvote)="quoteUpvote($event,i)" (isDownvote)="quoteDownvote($event,i)" (highest)="highestUpvote()"></app-quote-detail>
          <p class="btn btn-success btn-sm text-green mt-3" *ngIf='i == highestQuote && quote.upvotes > 0;'>Voted Best</p> <!-- Displayed only for the quote with the highestVote -->
        </div>
        <div class="card-footer text-muted">
          <app-display-quote [quote]="quote"></app-display-quote>
        </div>
      </div>
      <p *ngIf='quotes.length <1' class="alert alert-warning">OOOPS! No Quotes Available</p>
    </div>
  </div>
</div>