<div class="container">
  <div class="container row">
  <div class="col-md-5">
    <app-form (addQuote)="addNewQuote($event)"></app-form>
  </div>

    <div class="col md-3"></div>
    <div class="cardHolder col-lg-4 ">
      <div class="card  text-center m-2" *ngFor="let quote of quotes let i = index">
        <div class="card-body" *ngIf="i ==mostUpvote && quote.upvotes > 0;" appHighestVote>
          <app-quote-detail [quote]="quote" (isDelete)="quoteDelete($event,i)" (isUpvote)="quoteUpvote($event,i)"
            (isDownvote)="quoteDownvote($event,i)" (highest)="highestUpvote()"></app-quote-detail>
          <span style="font-size: 1.1em; color: green;" class="best mt-1">
            MOST UPVOTED <i class="fa fa-star"></i> 
          </span>
        </div>
        <div class="card-body" *ngIf="i !=mostUpvote ||quote.upvotes == 0">
          <app-quote-detail [quote]="quote" (isDelete)="quoteDelete($event,i)" (isUpvote)="quoteUpvote($event,i)"
            (isDownvote)="quoteDownvote($event,i)" (highest)="highestUpvote()"></app-quote-detail>
        </div>
        <div class="card-footer text-muted">
          <app-display-quote [quote]="quote"></app-display-quote>
        </div>
      </div>
      <p *ngIf='quotes.length <1' class="alert alert-warning">OOOPS! No Quotes Available</p>
    </div>
  </div>
</div>
