<p><i class="fa fa-quote-left quotation"></i> {{quote.quoteDescribe}} <i class="fa fa-quote-right quotation"></i></p>
<p>------- {{quote.author}} -------</p>

<div class="icons">
    <span style="font-size: 1.2em; color: green;">
        <i class="fa fa-thumbs-up">Upvote</i>
      </span> 
      <span style="font-size: 1.2em; color: red;">
        <i class="fa fa-thumbs-down">Downvote</i>
      </span>
      <span style="font-size: 1.2em; color: red;">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </span>
</div>

