<p><i class="fa fa-quote-left quotation"></i> {{quote.quoteDescribe}} <i class="fa fa-quote-right quotation"></i></p>
<p>------- {{quote.author}} -------</p>

<div class="icons mt-4 mb-1">
    <span style="font-size: 1em; color: green;" class="like">
        <i class="fa fa-thumbs-up"> IMPRESSIVE</i>
      </span> 
      <span style="font-size: 1em; color: red;" class="dislike">
        <i class="fa fa-thumbs-down"> DULL</i>
      </span>
      <span style="font-size: 1.2em; color: red;" class="delete">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </span>
</div>

